In [1]:
%cd C:\Users\debie\Documents\anaconda_space

C:\Users\debie\Documents\anaconda_space

In [2]:
import pandas as pd

# Mobile App for Lottery Addiction

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery (one of three national lottery games in Canada) and build functions that enable users to answer questions like:

    What is the probability of winning the big prize with a single ticket?
    What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
    What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set has data for 3,665 drawings, dating from 1982 to 2018.

Throughout the project, we'll need to calculate repeatedly probabilities and combinations. As a consequence, we'll start by writing two functions that we'll use often:

    A function that calculates factorials.
    A function that calculates combinations.

We'll write these functions now.

In [3]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

def combinations(n,k):
    return factorial(n) / (factorial(k) * factorial(n-k))

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn. If a player has a ticket with the numbers {13, 22, 24, 27, 42, 44}, he only wins the big prize if the numbers drawn are {13, 22, 24, 27, 42, 44}. If only one number differs, he doesn't win.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We'll write a function that take a list of 6 numbers between 1 and 49 and return the probability to win the lottery.

In [4]:
def one_ticket_probability(list):
    if len(list) != 6:
        return 'Error : the input is not correct.'
    n_outcomes = combinations(49,6)
    probability = (1 / n_outcomes) * 100
    print(f'The probability to win is {probability:.7f} %')

In [5]:
one_ticket_probability([1,2,3,4,5,6])

The probability to win is 0.0000072 %

For the first version of the app, however, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

We will use the historical data coming from the 6/49 lottery that is available through the following link: https://www.kaggle.com/datascienceai/lottery-dataset

In [6]:
lottery = pd.read_csv('649.csv')
lottery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          3665 non-null   int64
 1   DRAW NUMBER      3665 non-null   int64
 2   SEQUENCE NUMBER  3665 non-null   int64
 3   DRAW DATE        3665 non-null   object
 4   NUMBER DRAWN 1   3665 non-null   int64
 5   NUMBER DRAWN 2   3665 non-null   int64
 6   NUMBER DRAWN 3   3665 non-null   int64
 7   NUMBER DRAWN 4   3665 non-null   int64
 8   NUMBER DRAWN 5   3665 non-null   int64
 9   NUMBER DRAWN 6   3665 non-null   int64
 10  BONUS NUMBER     3665 non-null   int64
dtypes: int64(10), object(1)
memory usage: 315.1+ KB

In [7]:
lottery.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [8]:
lottery.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following six columns: NUMBER DRAWN 1, NUMBER DRAWN 2, NUMBER DRAWN 3, NUMBER DRAWN 4, NUMBER DRAWN 5 and NUMBER DRAWN 6.

We're going to write a function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

In [9]:
def extract_numbers(row):
    win_numb = []
    col = ['NUMBER DRAWN 1','NUMBER DRAWN 2','NUMBER DRAWN 3','NUMBER DRAWN 4','NUMBER DRAWN 5','NUMBER DRAWN 6']
    for i in col:
        win_numb.append(row[i])
    return set(win_numb)

winning_history = lottery.apply(extract_numbers, axis = 1)

In [10]:
def check_historical_occurence(list,serie):
    user_number = set(list)
    times = 0
    for w in serie:
        if w == user_number:
            times += 1
    print(f'Yours numbers would have made you win {times} time(s) since 1982.')

Let's perform a test with random numbers:

In [11]:
check_historical_occurence([15,2,21,31,38,49], winning_history)

Yours numbers would have made you win 1 time(s) since 1982.

We're now going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

    The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
    Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
    The function should print information about the probability of winning the big prize depending on the number of different tickets played.

In [12]:
def multi_ticket_probability(number_ticket):
    n_total_outcomes = combinations(49,6)
    probability = (number_ticket / n_total_outcomes) * 100
    if number_ticket == 1:
        print(f'The probability to win with {number_ticket} ticket is {probability:.7f} %')
    else:
        print(f'The probability to win with {number_ticket} tickets is {probability:.7f} %')

In [13]:
test_list = [1, 10, 100, 10000, 1000000, 6991908, 13983816]
for n in test_list:
    multi_ticket_probability(n)

The probability to win with 1 ticket is 0.0000072 %
The probability to win with 10 tickets is 0.0000715 %
The probability to win with 100 tickets is 0.0007151 %
The probability to win with 10000 tickets is 0.0715112 %
The probability to win with 1000000 tickets is 7.1511238 %
The probability to win with 6991908 tickets is 50.0000000 %
The probability to win with 13983816 tickets is 100.0000000 %

In most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.


    Inside the app, the user inputs:
        six different numbers from 1 to 49; and
        an integer between 2 and 5 that represents the number of winning numbers expected
    Our function prints information about the probability of having the inputted number of winning numbers.

In [14]:
def probability_less_6(good_num):
    if good_num < 2 or good_num > 5:
        return 'Error: the number should be between 2 and 5.'
    n_comb = combinations(6,good_num)
    n_comb2 = combinations(49 - good_num ,6 - good_num) - 1
    n_tot_comb = n_comb * n_comb2
    probability = n_tot_comb / combinations(49, 6)
    print(f'The probability to win with {good_num} correct numbers is {probability:.7f} %')

In [15]:
test_list2 = [2, 3, 4, 5]
for n in test_list2:
    probability_less_6(n)

The probability to win with 2 correct numbers is 0.1913255 %
The probability to win with 3 correct numbers is 0.0217094 %
The probability to win with 4 correct numbers is 0.0010609 %
The probability to win with 5 correct numbers is 0.0000184 %

And with this function we have answer all the needs of the medical institue which wanted to developp the application.